@import "vars.scss";


@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.small {
  $size: calc($cell-size / 3);

  .ball {
    position: absolute;
    width: $size;
    height: $size;
    //background: red;
    border-radius: 50%;
    border: 2px white solid;
  }

  .ball-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .rotate{
    animation: rotate 4s infinite forwards linear;
  }

  .ball-1-1 {
    $position: calc($cell-size / 2 - $size / 2);
    top: $position;
    left: $position;
  }

  .ball-2-1 {
    $position: calc($cell-size / 2 - $size / 3 * 2);
    top: $position;
    left: $position;
  }

  .ball-2-2 {
    $position: calc($cell-size / 2 - $size / 3);
    top: $position;
    left: $position;
  }

  .ball-3-1 {
  }

  .ball-3-2 {
  }

  .ball-3-3 {
  }
}
