@import "vars.scss";


.small {
  margin-top: $cell-size/2;

  .row {
    grid-template-columns: repeat($grid-width, $cell-size);
  }

  .cell {
    position: relative;
    width: $cell-size;
    height: $cell-size;
    border-left: $border;
    border-top: $border;
  }

  .cell:last-child {
    border-right: $border;
  }

  .row:last-child .cell {
    border-bottom: $border;
  }
}
