.small {
  $cell-size: min(8vh,10vw);
  $grid-width: 6;
  $grid-height: 11;
  $border-width: 1px;
  $border: $border-width solid white;

  &.grid {
    margin-top: $cell-size/2;
  }

  .row {
    grid-template-columns: repeat($grid-width, $cell-size);
  }

  .cell {
    width: $cell-size;
    height: $cell-size;
    border-left: $border;
    border-top: $border;
  }

  .cell:last-child {
    border-right: $border;
  }

  .row:last-child .cell {
    border-bottom: $border;
  }
}
