$animation-duration: 2s;

$size: 50%;
$center: 100%/2 - $size/2;

.ball-container {
  width: 100%;
  height: 100%;
}

.rotate-right {
  animation: rotate $animation-duration infinite forwards linear;
}

.rotate-left {
  animation: rotate $animation-duration infinite forwards linear reverse;
}

.ball {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 1px black solid;
  align-self: center;
  box-sizing: border-box;
}

.ball-1-1 {
  top: $center;
  left: $center;
}

.ball-2-1 {
  top: $center - $size/3;
  left: $center;
  z-index: 1;
}

.ball-2-2 {
  top: $center + $size/3;
  left: $center;
  z-index: 2;
}

.ball-3-1 {
  top: $center - $size/3;
  left: $center;
  z-index: 1;
}

.ball-3-2 {
  top: $center + $size/3;
  left: $center - $size/3;
  z-index: 2;
}

.ball-3-3 {
  top: $center + $size/3;
  left: $center + $size/3;
  z-index: 3;
}

.ball-4-1 {
  top: $center - $size/3;
  left: $center - $size/3;
  z-index: 1;
}

.ball-4-2 {
  top: $center - $size/3;
  left: $center + $size/3;
  z-index: 2;
}

.ball-4-3 {
  top: $center + $size/3;
  left: $center - $size/3;
  z-index: 3;
}

.ball-4-4 {
  top: $center + $size/3;
  left: $center + $size/3;
  z-index: 4;
}

.ball-any-any {
  top: $center;
  left: $center;
  z-index: 5;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.up {
  top: $center;
  left: $center;
  animation: up 0.2s forwards linear;
}

@keyframes up {
  100% {
    transform: translateY(-(100%/$size)*100%);
  }
}
