body {
    background-color: black;
    color: white;
}

.grid {
    width: max-content;
    margin: auto;
}

.grid .row {
    display: grid;
    grid-gap: 0;
}

.grid .row .cell {
    display: inline;
}
