body {
    background-color: black;
    color: white;
}

.grid {
    height: 100%;
}

.grid .row {
    display: grid;
    grid-gap: 0;
}

.grid .row .cell {
    display: inline;
}

.game-container {
    width: max-content;
    margin: auto;
}

.invisible {
    display: none;
}
